<div class="contact">
<div class="container">
    <div class="contact-phone-number be-left">
        <h2></h2>
        <h5>
            <img src="{{.Site.BaseURL}}{{ .Site.Params.logo }}" alt="Blog Logo" width="80px" height="20px"/>
        </h5>
        <ul>
            <li>
                <i class="icon-mail"></i>
                jiejingkeji@gmail.com
            </li>
            <li>
                <i class="icon-phone"></i>
                +824 336 887 35
            </li>
        </ul>
    </div>
    <div class="contact-content be-right">
        <h2>杰竞云平台</h2>
        <ul>
            <li>
                <img src="{{.Site.BaseURL}}images/zxzf.png" alt="" width="66px" height="66px">
                <div class="desc">
                    <h5>在线支付</h5>
                    <p>安全、快捷、方便的电子上午应用环境和网上资金结算工具</p>
                </div>
            </li>
            <li>
                <img src="{{.Site.BaseURL}}images/yyzc.png" alt="" width="66px" height="66px">
                <div class="desc">
                    <h5>运营支撑(SAAS)</h5>
                    <p>采用先进技术的最好途径，它消除了企业购买、构建和维护基础实施和应用程序的需要</p>
                </div>
            </li>
            <li>
                <img src="{{.Site.BaseURL}}images/kf.png" alt="" width="66px" height="66px">
                <div class="desc">
                    <h5>客服</h5>
                    <p>为您快速提供帮助，快速解决问题</p>
                </div>
            </li>
            <li>
                <img src="{{.Site.BaseURL}}images/sjfx.png" alt="" width="66px" height="66px">
                <div class="desc">
                    <h5>数据分析</h5>
                    <p>安全、快捷、方便的电子上午应用环境和网上资金结算工具</p>
                </div>
            </li>
            <li>
                <img src="{{.Site.BaseURL}}images/ywzc.png" alt="" width="66px" height="66px">
                <div class="desc">
                    <h5>运维支撑</h5>
                    <p>通过技术保障产品提供更高质量的服务</p>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>
