<div class="container main-feature">
    <h2>为什么选择杰竞</h2>
    <p>为汽配物流、配件厂商、汽车市场客户及个人用户提供专业的软硬件产品和汽配大数据综合运营支撑平台服务</p>
</div>

<div class="container six-reasons">
    <ul>
        <li>
            <img src="{{.Site.BaseURL}}images/wl.png" alt="" width="100px" height="100px">
            <h5>物流系统</h5>
            <p>物流管理系统，物流企业都在用。管车管货管回单，财务计算真方便。客服人员上门指导，项目实施又快又好</p>
        </li>
        <li>
            <img src="{{.Site.BaseURL}}images/cc.png" alt="" width="100px" height="100px">
            <h5>仓储系统</h5>
            <p>提高工作效率，减少差错，有效给企业节省存储克难攻坚，大大提高出货批号准确性和客户满意度</p>
        </li>
        <li>
            <img src="{{.Site.BaseURL}}images/app.png" alt="" width="100px" height="100px">
            <h5>养护APP</h5>
            <p>提高工作效率，减少差错，有效给企业节省存储克难攻坚，大大提高出货批号准确性和客户满意度</p>
        </li>
        <li>
            <img src="{{.Site.BaseURL}}images/cw.png" alt="" width="100px" height="100px">
            <h5>财务系统</h5>
            <p>提高工作效率，减少差错，有效给企业节省存储克难攻坚，大大提高出货批号准确性和客户满意度</p>
        </li>
        <li>
            <img src="{{.Site.BaseURL}}images/cg.png" alt="" width="100px" height="100px">
            <h5>采购系统</h5>
            <p>提高工作效率，减少差错，有效给企业节省存储克难攻坚，大大提高出货批号准确性和客户满意度</p>
        </li>
        <li>
            <img src="{{.Site.BaseURL}}images/sj.png" alt="" width="100px" height="100px">
            <h5>货运司机</h5>
            <p>提高工作效率，减少差错，有效给企业节省存储克难攻坚，大大提高出货批号准确性和客户满意度</p>
        </li>
    </ul>
</div>

